# =========================================
# Web React Vite (Frontend)
# =========================================
VITE_BASE_URL=https://127.0.0.1:3010/api

# =========================================
# API Server
# =========================================
PORT=3010
JWT_SECRET=greenprep
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password

# =========================================
# PostgreSQL Database
# =========================================
DB_HOST=postgres_db
DB_PORT=5432
POSTGRES_USER=greenprep_db_user
POSTGRES_PASSWORD=greenprep_db_password
POSTGRES_DB=greenprep_db
DATABASE_URL=postgres://greenprep_db_user:greenprep_db_password@postgres_db:5432/greenprep_db

# =========================================
# MinIO Object Storage
# =========================================
MINIO_PORT=9000
MINIO_HOST=minio.local
MINIO_ROOT_USER=gp_minio_admin
MINIO_ROOT_PASSWORD=gp_minio_pw
MINIO_ACCESS_KEY=LKIdxNj8k7Fu7gUQJzTy
MINIO_SECRET_KEY=f0muapFM4uY4ArGVlNO9nzFAvUKIDVuMwOtC49Kr
BUCKET=gp-bucket
MINIO_URL_BASE=https://127.0.0.1:9000/gp-bucket
