@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-layout {
  background: white !important;
}
.ant-btn-lg {
  border-radius: 6px !important;
}
body {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif !important;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
