@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto;
}
body {
  background: #f9f9f9 !important;
}

.ant-menu-horizontal > .ant-menu-item::after,
.ant-menu-horizontal > .ant-menu-submenu::after {
  border-bottom: none !important;
  transition: none !important;
}

.ant-menu-horizontal > .ant-menu-item:hover::after,
.ant-menu-horizontal > .ant-menu-item-selected::after {
  border-bottom: none !important;
}
.ant-segmented.ant-segmented-lg .ant-segmented-item-label {
  padding: 0 20px !important;
}
